[all:children]
bastion
registry

[all:vars]
ansible_user=${username}
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'
ansible_ssh_private_key_file="~/.ssh/id_rsa"
registry_password=${registry_password}
registry_namespaces=${registry_namespaces}
keep_operators=${keep_operators}
openshift_version=${openshift_version}
openshift_pull_secret=${openshift_pull_secret}
openshift_product_repo=${openshift_product_repo}
openshift_architecture=${openshift_architecture}
openshift_release_name=${openshift_release_name}
mirror_olm=${mirror_olm}
mirror_platform=${mirror_platform}
case_name=${case_name}
case_version=${case_version}
case_repo_path=${case_repo_path}
case_inventory_setup=${case_inventory_setup}
entitlement_key=${entitlement_key}
data_dir=${data_dir}
platform=${platform}


[bastion]
${bastion_host}

[registry]
${registry_host}
