[all:children]
bastion
registry

[all:vars]
ansible_user=${username}
azure_subscription_id=${azure_subscription_id}
azure_tenant_id=${azure_tenant_id}
azure_client_id=${azure_client_id}
azure_client_secret=${azure_client_secret}
azure_region=${azure_region}

ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'
ansible_ssh_private_key_file="~/.ssh/id_rsa"
openshift_architecture=${openshift_architecture}
openshift_version=${openshift_version}
openshift_worker_vm_type=${openshift_worker_vm_type}
openshift_worker_os_disk_size=${openshift_worker_os_disk_size}
openshift_worker_node_count=${openshift_worker_node_count}
openshift_master_vm_type=${openshift_master_vm_type}
openshift_master_os_disk_size=${openshift_master_os_disk_size}
openshift_cluster_network_cidr=${openshift_cluster_network_cidr}
openshift_cluster_network_host_prefix=${openshift_cluster_network_host_prefix}
openshift_machine_cidr=${openshift_machine_cidr}
openshift_service_network_cidr=${openshift_service_network_cidr}
azure_outbound_type=${azure_outbound_type}
openshift_azure_publish=${openshift_azure_publish}
openshift_base_domain=${openshift_base_domain}
cluster_resource_group_name=${preexisting_cluster_resource_group_name}
cluster_name=${openshift_cluster_name}
azure_dns_resource_group_name=${azure_dns_resource_group_name}
preexisting_network_resource_group_name=${preexisting_network_resource_group_name}
preexisting_virtual_network_name=${preexisting_virtual_network_name}
preexisting_control_plane_subnet=${preexisting_control_plane_subnet}
preexisting_compute_subnet=${preexisting_compute_subnet}
registry_virtual_network_name=${registry_virtual_network_name}
registry_resrouce_group_name=${registry_resrouce_group_name}
public_ssh_key=${public_ssh_key}
data_dir=${data_dir}
case_name=${case_name}
case_version=${case_version}
case_inventory_setup=${case_inventory_setup}
registry_password=${registry_password}
platform=${platform}
mirror_olm=${mirror_olm}
mirror_platform=${mirror_platform}



[bastion]
${bastion_host}

[registry]
${registry_host}
